html {}

body {
    background-color: hsl(225, 100%, 98%);
    background-image: url("../images/pattern-background-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display';
    font-size: 16px;
}

main {
    width: 450px;
    margin: 6% auto;
}

.hero-image {
    border-radius: 25px 25px 0 0;
}

.image-card {
    line-height: 0;
    display: block;
}

.card-conteudo {
    background-color: white;
    display: block;
    border-radius: 0 0 25px 25px;
    box-shadow: 0px 5px 10px hsl(225, 100%, 94%);
}

h1 {
    text-align: center;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.6em;
    margin: 0;
    padding: 1.3em 0 0 0;
}

.first-description {
    color: hsl(223, 47%, 23%);
    text-align: center;
    padding: 0 3em;
    font-weight: 500;
}

.plan-area {
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    padding: 1.2em;
    margin: 0 auto;
    width: 60%;
}

.icon-music {
    float: left;
    margin: 0 1.3em 0 0
}

.plan-text {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: baseline;
}

.plan-link {
    float: right;
    margin: 6% 0 0 0;
    display: inline-block;
}

h3 {
    font-size: 16px;
    vertical-align: baseline;
    display: block;
    font-weight: 900;
    margin: 0;
}

h4 {
    vertical-align: baseline;
    display: block;
    font-weight: 500;
    margin: 0;
}

h5 {
    display: block;
    margin: 0;
}

.pcd-pay {
    display: block;
    background-color: hsl(245, 75%, 52%);
    text-transform: none;
    color: white;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.7em 1.2em;
    margin: 2em auto;
    width: 60%;
    box-shadow: 0px 15px 60px hsl(224, 23%, 55%);
    transition: 1s;
}

.pcd-pay:hover {
    background-color: hsl(224, 23%, 55%);
}

.cancel-area {
    display: block;
    font-size: 0.9em;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    padding: 0 0 2em 0;
    transition: 1s;
}

.cancel-area:hover {
    color: hsl(223, 47%, 23%);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.attribution {
    font-size: 1.5em;
    text-align: center;
}

@media screen and (max-width: 450px) {

    main {
        margin: 5% 3%;
        width: auto;
    }

    .image-card {
        width: auto;
    }

    .hero-image {
        width: 100%;
    }

    .plan-area {
        width: 65%;
        padding: 1.2em;
    }

    .icon-music {
        margin: 0 0.8em 0 0;
        width: 42px;
    }

    .plan-text,
    .plan-link {
        font-size: 0.9em;
    }

    .pcd-pay {
        width: 65%;
    }
}

.attribution {
    font-size: 0.8em;
}

@media screen and (max-width: 320px) {

    main {
        margin: 5% 3%;
        width: auto;
    }

    .image-card {
        width: auto;
    }

    .hero-image {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
        padding: 1em 0 0 0;
    }

    .first-description {
        padding: 0 2em;
        font-size: 0.9em;
    }

    .plan-area {
        width: 70%;
        padding: 1.2em;
    }

    .icon-music {
        margin: 0 0.6em 0 0;
        width: 40px;
    }

    h3,
    h4 {
        font-size: 0.8rem;
    }

    .pcd-pay {
        margin: 1.8em auto;
        width: 70%;
        font-size: 0.8em;
    }

    .cancel-area {
        font-size: 0.7em;
    }
}

.attribution {
    font-size: 0.6em;
}

@media screen and (max-width: 280px) {

    main {
        margin: 5% 3%;
        width: auto;
    }

    .image-card {
        width: auto;
    }

    .hero-image {
        width: 100%;
    }

    h1 {
        font-size: 1.3em;
        padding: 1em 0 0 0;
    }

    .first-description {
        padding: 0 2em;
        font-size: 0.8em;
    }

    .plan-area {
        width: 70%;
        padding: 1.2em;
        vertical-align: baseline;
    }

    .plan-text {
        line-height: 1.1em;
        vertical-align: baseline;
    }

    .icon-music {
        margin: 0 0.5em 0 0;
        float: left;
        width: 30px;
        height: auto;
    }

    h3,
    h4 {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 0.6em;
    }

    .pcd-pay {
        margin: 1.8em auto;
        width: 70%;
        font-size: 0.8em;
    }

    .cancel-area {
        font-size: 0.7em;
    }

}